modules = ["nodejs-20", "web", "bash"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
POSTGRES_URL = "postgresql://neondb_owner:npg_85XNDZpGahJw@ep-red-paper-amibl4pt-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_cmVsYXRlZC1nYXRvci03MC5jbGVyay5hY2NvdW50cy5kZXYk"
ALPHA_VANTAGE_KEY = "O83Y94X7BNP5VSRQ"
CLOUDFLARE_ACCOUNT_ID = "e807f8a5b16caecab9e0505dbcc66938"
CLOUDFLARE_API_TOKEN = "cfat_FkOlD3FPIWiKVlpPNg2xWyQh8WVlqzvCqcJlHU4padcfdd6b"
